<div class="container-scroller">
  {{>admin-sidebar}}
  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Non-blocked Users</h4>
              <p class="card-description">
                Non-blocked<code>Users.</code>
              </p>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Username</th>
                      <th>User Id</th>
                      <th>Created</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  {{#each nonBlockUser}}
                  <tbody>
                    <tr>
                      <td>{{this.username}}</td>
                      <td>{{this._id}}</td>
                      <td>{{this.Created_at}}</td>
                      <td><label class="badge badge-success">Active</label></td>
                    </tr>
                  </tbody>
                  {{/each}}
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Blocked Users</h4>
              <p class="card-description">
                Blocked<code>Users</code>
              </p>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Username</th>
                      <th>User Id</th>
                      <th>Created</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  {{#each blockUser}}
                  <tbody>
                    <tr>
                      <td>{{this.username}}</td>
                      <td>{{this._id}}</td>
                      <td>{{this.Created_at}}</td>
                      <td><label class="badge badge-danger">Blocked</label></td>
                    </tr>
                  </tbody>
                  {{/each}}
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">All Users</h4>
              <p class="card-description">
                Registered<code>Users.</code>
              </p>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>
                        User
                      </th>
                      <th>
                        Username
                      </th>
                      <th>
                        Email Id
                      </th>
                      <th>
                        Blocked
                      </th>
                      <th>
                        Created
                      </th>
                      <th>
                        Block
                      </th>
                      <th>
                        Delete
                      </th>
                    </tr>
                  </thead>
                  {{#each allUser}}
                  <tbody>
                    <tr>
                      <td class="py-1">
                        <img src="/admin style/images/faces/face1.jpg" alt="image" />
                      </td>
                      <td>
                        {{this.username}}
                      </td>
                      <td>
                        {{this.email}}
                      </td>
                      <td>
                        {{this.blocked}}
                      </td>
                      <td>
                        {{this.Created_at}}
                      </td>
                      {{#if this.blocked}}
                      <td>
                        <a href="/admin/unBlockUser/{{this._id}}"
                          style="text-decoration: none;  color:green;">Unblock</a>
                      </td>
                      {{else}}
                      <td>
                        <a href="/admin/blockUser/{{this._id}}" style="text-decoration: none;">Block</a>
                      </td>
                      {{/if}}
                      <td>
                        <a href="/admin/deleteUser/{{this._id}}" style="text-decoration: none; color: red;">Delete</a>
                      </td>
                    </tr>
                  </tbody>
                  {{/each}}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Marazzo <a href="/" target="_blank">
            Shopping Website</a></span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights
          reserved.</span>
      </div>
    </footer>
  </div>
</div>
</div>