  <div class="container-scroller">
      {{>admin-sidebar}}
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">PRODUCTS CATEGORIES.</h4>
                  <p class="card-description">
                    All products categories<code>here.</code>
                  </p>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Category name</th>
                          <th>Created</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      {{#each result}}
                      <tbody>
                        <tr>
                          <td>{{this.name}}</td>
                          <td>{{this.Created_at}}</td>
                          <td><label class="badge badge-success">Active</label></td>
                        </tr>
                      </tbody>
                      {{/each}}
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">PRODUCTS SUB-CATEGORIES.</h4>
                  <p class="card-description">
                  All products  sub-categories  <code>is here.</code>
                  </p>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Category</th>
                          <th>Sub-category Name</th>
                          <th>Created</th>
                          <th>Status</th>
                        </tr>
                      </thead>
                      {{#each categories}}
                      <tbody>
                        <tr>
                           <td>{{this.category.name}}</td>
                          <td>{{this.subcategory}}</td>
                          <td>{{this.Created_at}}</td>
                          <td><label class="badge badge-success">Active</label></td>
                        </tr>
                      </tbody>
                      {{/each}}
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Marazzo <a href="/" target="_blank"> Shopping Website</a></span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
          </div>
        </footer>
      </div>
    </div>
  </div>

